<p>Please sign here</p>
<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
<button type="button" class="btn commonbutton" data-action="clear" (click)="onClearClick()">Clear</button>
<p>Please sign here</p>
<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
<button type="button" class="btn commonbutton" data-action="clear" (click)="onClearClick()">Clear</button>
<p>Please sign here</p>
<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
<button type="button" class="btn commonbutton" data-action="clear" (click)="onClearClick()">Clear</button>
<p>Please sign here</p>
<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad><br>
<button type="button" class="btn commonbutton" data-action="clear" (click)="onClearClick()">Clear</button>
<!-- drag-content="false"  -->
<input type="time" atp-time-picker value="" changeToMinutes="true"/>
<!-- <input type="time" atp-time-picker value="20:55"/> -->