ul.ng-tns-c1-0 {
    color: white;
}
.nobullet{
    list-style: none;;
}
.white{
    color:white;
}
.footerclass{
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}
.menuverticle{
    color: white;
    /* padding-left: 16px; */
    font-size: 15px;
    
}
.icon{
    padding-right: 8px;
}
a{
    color: white !important;
}
.layout-menu > ul > li a{
    padding-left: 20px;
}
.insidemenu{
    padding-left: 40px !important;
}
li{
    padding-bottom: 6px;
}
 #menu_input{
     color: white !important;
 }
  #layout-sidebar .layout-menu > div{
      padding: 0px !important;
  } 
  #layout-sidebar .layout-menu > div > ul > li a{
    padding: 22px !important;
    font-size: 15px;
    color: white !important;
  }