.border{
    border:1px solid gray !important;
}
.main{
    padding: 3%;
}
.drop-container {
    min-height:2em;
    border: 2px solid #1d1d85;
    padding:1em;
  }
.bigfont{
font-size: 22px;
  }
  .align{
      padding-left: 17px;
      
  }
.horizontal
{
    display: inline-flex;
    padding-left: 16px;
}
.vertical
{
    display: block;
}
.labelSide{

    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline;  
}
.labelTop{
    display: block;
    width:100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}   
@media (min-width: 992px){
    .column3width {
        flex: 1 0 28% !important;
        max-width: 31% !important;
    } 
    
}
@media (min-width: 576px){
    .column2width {
        flex: 2 0 19.666667% !important;
        max-width: 23.666667% !important;
    }
}
@media (min-width: 992px){
    .column5width {
        flex: 1 0 31.666667%;
        max-width: 47.666667%;
    }
}
